footer {
    height: 7vh;
    background-color: gray;
    font-size: 4vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    nav {
        
        ul{
            display: flex;
            justify-content: center;        
            align-items: center;            
            li {
                display: flex;
                justify-content: space-around;
                i, img{  
                    padding-right: 5rem;
                    padding-left: 5rem;
                }
                i {
                    color: white;
                    &:hover{
                        color: black;
                    }
                }
                img {
                    margin-top: 0.6vh;
                    height: 4.5vh;
                    width: 4.5vh;
                }
            }
        }
    }
}
