footer {
    height: 100px;
    background-color: gray;
    font-size: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;
    nav {
        ul{
            display: flex;
            justify-content: center;        
            
            li {
                display: flex;
                justify-content: space-around;
                i, img{  
                    padding-top: 15px;
                    padding-right: 85px;
                    padding-left: 85px;
                }
                i {
                    color: white;
                    &:hover{
                        color: black;
                    }
                }
                img {
                    height: 70px;
                    width: 70px;
                }
            }
        }
    }
}
