.wordTPT {
    display: grid;
    grid-template-columns: 10fr max-content;
    // display: flex;
    // justify-content: space-between;
    height: 30%;
    margin-bottom: 15px;
    word-break:break-all;
    text-justify: auto;
}

.wordTP {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.wordTitle{
    font-size: 50px;
    font-weight: 600;
}

.wordPronun {
    font-size: 40px;
}

.wordTime{
    color: rgb(167, 167, 167);
    text-align: end;
}

.wordBox {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 60px;
    div {
        margin: 5px;
    }
}

.wordMean {
    display: grid;
    grid-template-columns: max-content 5fr;
    margin-top: 13px;
    word-break:break-all;
    span {
        font-size: 20px;
        // font-size: 2vh;
        margin-right: 0.5vw;
        // margin-right: 5px;
    }
    // ol {        
    //     li {
    //         margin: 3px;
    //     }
    // }
}

.wordExample {
    display: grid;
    grid-template-columns: max-content 5fr;
    margin-top: 13px;
    word-break:break-all;
    span {
        font-size: 18px;
        // font-size: 1.8vh;
        margin-right: 0.5vw;
        // margin-right: 10px;
    }
}

.wordInfor {
    width: 100%;
    height: 4em;
    border: 1px solid black;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: rgb(167, 167, 167);
    position: absolute;
    bottom: -1px;
    left: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        font-size: 20px;
        padding-left: 40px;
        padding-right: 40px;
        &:last-child{
            font-size: 25px;
            font-weight: 700;
        }
    }
}
.wordInfor span:last-child{
    text-align: end;
}