extends base.pug
include mixins/words

block content
    h1 Home 
    each word in words 
        +words(word)
    else
        li not found 

    if nowPage != 1
        a(href=`?page=${nowPage - 1}`) &larr;

    - for(var i=start+1; i<=end ; i++)
        a(href=`?page=${i}`)=i

    if nowPage != lastPage 
        a(href=`?page=${nowPage + 1}`) &rarr;