extends base

block content 
    form(method="post") 
        input(placeholder="User name", name="username", type="text", required)
        input(placeholder="Email", name="email", type="text", required)
        input(placeholder="Password", name="password1" type="text", required)
        input(placeholder="Confirm Password", name="password2" type="text", required)
        label(for="language") 모국어
        select(name="language") 
            option(value="korean") Korean 
            option(value="japanese") Japanese
            option(value="english") English 
        input(type="submit", value="등록")