extends base
include mixins/words

block content
    form(method="GET") 
        input(placeholder="검색할 단어", type="text", name="keyword")
        input(type="submit", value="검색")
    each word in words 
        +words(word)
    else 
        div.auth-switch
            span 결과가 없습니다.