extends base

block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(type="text", placeholder="단어를 입력하세요.", name="title", required)
        input(type="text", placeholder="발음을 입력하세요.(선택)", name="pronun")
        input(type="text", placeholder="의미를 입력하세요.", name="mean", required)
        textarea(placeholder="뜻을 입력하세요.", name="example", cols="30", rows="10") 
        input(type="submit", value="등록")