/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7vh;
  font-size: 5vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-weight: 600;
}
header span {
  max-width: 800px;
  width: 70%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  height: 7vh;
  background-color: gray;
  font-size: 4vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer nav {
  max-width: 800px;
}
footer nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer nav ul li {
  display: flex;
  justify-content: space-around;
}
footer nav ul li i, footer nav ul li img {
  padding-right: 6vw;
  padding-left: 6vw;
}
footer nav ul li i:not(.modalBox a i) {
  color: white;
}
footer nav ul li i:not(.modalBox a i):hover {
  color: black;
}
footer nav ul li img {
  margin-top: 0.6vh;
  height: 4.5vh;
  width: 4.5vh;
}
footer nav ul li img:hover {
  transition: 0.2s linear;
  transform: scale(1.15);
}
footer nav ul li img:focus {
  transform: scale(1.15);
}
footer nav ul li:last-child {
  position: relative;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  clip-path: circle(150.3% at 71% 98%);
}

.modal .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
  position: absolute;
  bottom: 7vh;
  right: 14vw;
  background-color: white;
  padding: 1vh 3vw;
  border-radius: 30px;
  border-end-end-radius: 0;
  border-end-start-radius: 0;
  border: 2px solid black;
  border-bottom: none;
}
.modalBox a {
  display: block;
  font-size: 3vw;
  padding-bottom: 1.5vh;
  padding-top: 1.5vh;
}
.modalBox a:not(:last-child) {
  border-bottom: 1px solid #d0d0d0;
}
.modalBox a i {
  padding: 0;
  margin-right: 20px;
}

.hidden {
  transition: all 0.3s linear;
  clip-path: circle(0% at 71% 98%);
}

.wordTPT {
  display: grid;
  grid-template-columns: 10fr max-content;
  height: 30%;
  margin-bottom: 15px;
  word-break: break-all;
  text-justify: auto;
}

.wordTP {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.wordTitle {
  font-size: 50px;
  font-weight: 600;
}

.wordPronun {
  font-size: 40px;
}

.wordTime {
  color: #a7a7a7;
  text-align: end;
}

.wordBox {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 60px;
}
.wordBox div {
  margin: 5px;
}

.wordMean {
  display: grid;
  grid-template-columns: max-content 5fr;
  margin-top: 13px;
  word-break: break-all;
}
.wordMean span {
  font-size: 20px;
  margin-right: 0.5vw;
}

.wordExample {
  display: grid;
  grid-template-columns: max-content 5fr;
  margin-top: 13px;
  word-break: break-all;
}
.wordExample span {
  font-size: 18px;
  margin-right: 0.5vw;
}

.wordInfor {
  width: 100%;
  height: 4em;
  border: 1px solid black;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #a7a7a7;
  position: absolute;
  bottom: -1px;
  left: -1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wordInfor span {
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.wordInfor span:last-child {
  font-size: 25px;
  font-weight: 700;
}

.wordInfor span:last-child {
  text-align: end;
}

main {
  max-width: 800px;
  min-width: 550px;
  margin: 9vh auto;
}

.wordContainer {
  margin: 40px;
  padding: 20px;
  border: solid 1px black;
  border-radius: 15px;
  min-height: 13rem;
  box-shadow: 5px 5px 15px gray;
  position: relative;
}

.pageNum {
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.pageNum a {
  margin: 0 5px 0 5px;
}

.scroll-detecting {
  width: 5px;
  height: 100px;
}

form {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 150px;
  padding: 30px;
  box-shadow: 5px 5px 15px gray;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input {
  all: unset;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgba(45, 45, 45, 0.2);
  background-color: #E5E5E5;
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 25px;
  color: black;
  width: 90%;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

input[type=submit] {
  margin-top: 20px;
  margin-bottom: 0;
  background-color: black !important;
  color: white !important;
  text-align: center !important;
  cursor: pointer;
}

.auth-switch {
  margin-top: 25px;
  text-align: center;
  font-size: 18px;
}
.auth-switch span {
  margin-right: 10px;
}
.auth-switch a {
  text-decoration: underline;
}

.labelSelect {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
.labelSelect label {
  margin-bottom: 20px;
}

select {
  width: 96%;
  padding: 15px;
  font-size: 18px;
  margin-bottom: 10px;
}

textarea {
  width: 95.5%;
  font-size: 25px;
}

.detailTP {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  word-break: break-all;
  padding-bottom: 30px;
  border-bottom: 2px solid black;
  margin-bottom: 40px;
}
.detailTP .detailTitle {
  font-size: 5vh;
  font-weight: 800;
}
.detailTP .detailPronun {
  font-size: 4.5vh;
}

.meanSet {
  display: flex;
  align-items: flex-start;
  padding-bottom: 30px;
  border-bottom: 2px solid #bdbdbd;
  margin-bottom: 40px;
}
.meanSet .detailMean {
  font-size: 2.5vh;
  margin-right: 60px;
}
.meanSet ol {
  font-size: 2.5vh;
}
.meanSet ol li {
  padding-bottom: 10px;
}

.exampleSet {
  display: flex;
  align-items: flex-start;
  word-break: break-all;
  padding-bottom: 30px;
  border-bottom: 2px solid #bdbdbd;
}
.exampleSet span {
  font-size: 2vh;
  margin-right: 60px;
}
.exampleSet ol {
  font-size: 2vh;
}
.exampleSet ol li {
  padding-bottom: 20px;
}

.detailInfor {
  display: flex;
  flex-direction: column;
  font-size: 1.2vh;
  margin: 5px 5px;
}
.detailInfor span {
  text-align: end;
  margin: 5px;
  padding: 3px;
}

.detailBtn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.detailBtn button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 0.5vh 2vw;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 2vh;
}

.editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.editForm img {
  position: fixed;
  top: 10%;
  left: 47%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  color: black;
}
