footer    
    nav 
        ul 
            li 
                a(href="/") 
                    i.fas.fa-home
                a(href="/search") 
                    i.fas.fa-search
                a(href="/words/upload")    
                    i.fas.fa-pencil-alt
            if loggedIn               
                li 
                    if loggedInUser.avatarUrl === ""
                        span 😀
                    else 
                        img.AvatarImg(src="/" + loggedInUser.avatarUrl width="50", height="50")
                        div.modal.hidden
                            div.modalBox
                                a(href=`/users/${loggedInUser._id}`) My word 
                                a(href="/users/edit") Edit Profile 
                                a(href="/users/logout") Logout 
            else 
                li 
                    a(href="/login")
                        i.fas.fa-user