header 
    a(href="/") Home 
    nav 
        ul 
            li 
                a(href="/search") Search 
            li
                a(href="/join") Join 
            li 
                a(href="/login") Login
            li 
                a(href="/words/upload") Upload